.login-illustration {
  background-repeat: no-repeat;
  width: 800px;
  height: 100vh;

  object-fit: cover;
  object-position: center;
}

.signup-illustration {
  background-repeat: no-repeat;
  width: 500px;
  height: 100vh;
}

.login-illustration-mobile {
  background-repeat: no-repeat;
  width: 100%;
}